// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
@import "variables";

// // Bootstrap
// @import "~bootstrap/scss/bootstrap";
@import "../../node_modules/antd/dist/antd.css";
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}
// AUTH

.auth-wrapper {
    padding-top: 100px;
    background: url("../assets/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.auth {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: #fff;

    &__title {
        font-weight: bold;
    }

    &__subtitle {
        margin: 10px 0;
        font-size: 18px;
    }

    &__form {
        padding: 30px;
        box-shadow: $box-shadow;
    }

    &__bottom-text {
        margin-top: 15px;
    }

    &__link {
        margin-left: 10px;
    }
}

// END AUTH

// SHARED

.date-picker {
    width: 100%;
}

.input-number {
    width: 100%;
}
.input-icon {
    margin-right: 10px;
}

.alert-message {
    margin: 15px 0;
}

// END SHARED

// LAYOUT
.drawer-text {
    margin: 0;
    padding: 0;
}
.side-drawer {
    height: 100%;
    background: $primary;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    color: #fff;

    @media only screen and (min-width: 600px) {
        display: none;
    }
}
.side-drawer.open {
    transform: translateX(0);
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary;
    overflow-x: hidden;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    color: $grey;

    &__title {
        color: inherit;
        text-align: center;
        margin: 0px 0 20px 0;
    }

    &__items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__item {
        border-radius: 10px;
        padding: 15px 0 15px 30px;
        font-size: 15px;
        color: inherit;
        font-weight: 500;
        margin: 5px 0;
        transition: 0.2s;

        &__text {
            display: inline-block;
            margin: 0;
            padding: 0;
            @media only screen and (max-width: 1000px) {
                display: none;
            }
        }

        &:hover {
            color: $primary;
            background-color: $grey;
        }

        @media only screen and (max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
    }

    &__icon {
        margin-right: 10px;
        @media only screen and (max-width: 1000px) {
            margin: 0;
            padding: 0;
            font-size: 30px;
        }
    }

    @media only screen and (max-width: 1000px) {
        width: 100px;
    }

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.active-link {
    color: $primary;
    background-color: $grey;
}

.content {
    min-height: 100vh;
    margin-left: 240px;
    background-color: $grey;

    &__topbar {
        height: 60px;
        width: 100%;
        background: #fff;
        box-shadow: $box-shadow-light;
        display: flex;
        align-items: center;
        padding: 0 0 0 35px;

        h2 {
            color: $primary;
            margin: 0;
            font-weight: bold;
        }

        &__drawer {
            margin-right: 15px;
            display: none;

            @media only screen and (max-width: 600px) {
                display: inline-block;
            }
        }
    }

    &__main {
        padding: 20px 40px;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 100px;
    }

    @media only screen and (max-width: 500px) {
        margin-left: 0px;
    }
}

// END LAYOUT

// SETTINGS
.settings {
    &__tabs {
    }

    &__add-button {
        margin-bottom: 20px;
    }
}
// END SETTINGS
