// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
@import "variables";

// // Bootstrap
// @import "~bootstrap/scss/bootstrap";
@import "../../node_modules/antd/dist/antd.css";
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}
// AUTH

.auth-wrapper {
    padding-top: 100px;
    background: url("./images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.auth {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: #fff;

    &__title {
        font-weight: bold;
    }

    &__subtitle {
        margin: 10px 0;
        font-size: 18px;
    }

    &__form {
        padding: 30px;
        box-shadow: $box-shadow;
    }

    &__bottom-text {
        margin-top: 15px;
    }

    &__link {
        margin-left: 10px;
    }
}

// END AUTH

// SHARED
.form-button {
    margin-right: 15px;
}

:global(.ant-btn-primary) {
    background-color: $primary;
    border-color: $primary;
    &:hover,
    &:visited,
    &:active,
    &:focus {
        background-color: $primary-dark !important;
        border-color: $primary-dark !important;
    }
}

.date-picker {
    width: 100%;
}

.input-number {
    width: 100%;
}
.input-icon {
    margin-right: 10px;
}

.alert-message {
    margin: 15px 0;
}

// END SHARED

// LAYOUT
.drawer-text {
    margin: 0;
    padding: 0;
}
.side-drawer {
    height: 100%;
    background: $primary;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    color: #fff;

    @media only screen and (min-width: 600px) {
        display: none;
    }
}
.side-drawer.open {
    transform: translateX(0);
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary;
    overflow-x: hidden;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    color: $grey;

    &__title {
        color: inherit;
        text-align: center;
        margin: 0px 0 20px 0;
    }

    &__items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__item {
        border-radius: 10px;
        padding: 15px 0 15px 30px;
        font-size: 15px;
        color: inherit;
        font-weight: 500;
        margin: 5px 0;
        transition: 0.2s;

        &__text {
            display: inline-block;
            margin: 0;
            padding: 0;
            @media only screen and (max-width: 1000px) {
                display: none;
            }
        }

        &:hover {
            color: $primary;
            background-color: $grey;
        }

        @media only screen and (max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
    }

    &__icon {
        margin-right: 10px;
        @media only screen and (max-width: 1000px) {
            margin: 0;
            padding: 0;
            font-size: 30px;
        }
    }

    @media only screen and (max-width: 1000px) {
        width: 100px;
    }

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.active-link {
    color: $primary;
    background-color: $grey;
}

.content {
    min-height: 100vh;
    margin-left: 240px;
    background-color: $grey;

    &__topbar {
        height: 60px;
        width: 100%;
        background: #fff;
        box-shadow: $box-shadow-light;
        display: flex;
        align-items: center;
        padding: 0 0 0 35px;

        h2 {
            color: $primary;
            margin: 0;
            font-weight: bold;
        }

        &__drawer {
            margin-right: 15px;
            display: none;

            @media only screen and (max-width: 600px) {
                display: inline-block;
            }
        }
    }

    &__main {
        padding: 20px 40px;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 100px;
    }

    @media only screen and (max-width: 500px) {
        margin-left: 0px;
    }
}

// END LAYOUT

// SETTINGS
.settings {
    &__tabs {
    }

    &__add-button {
        margin-bottom: 20px;
    }
}
// END SETTINGS

// CALENDAR
.calendar {
    margin: 2rem 0;
    font-size: 15px;
    overflow-y: scroll;
    overflow-x: visible;
}

.calendar-row {
    display: flex;
    justify-content: stretch;
    border-bottom: 5px solid #f8f8f8;
    border-top: 5px solid #f8f8f8;
}

.calendar-col {
}

.room-name {
    width: 200px !important;
    background-color: #f8f8f8;
    color: #333;
    border: none !important;
    //border-bottom: 1px solid var(--color-secondary) !important;
    text-align: center;
    padding: 1rem 0 !important;
}

.calendar-date-field {
    background-color: #f8f8f8;
    color: #333;
    // border: none !important;
    text-align: center;
}

.calendar-field {
    border-bottom: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    text-align: center;
    padding: 15px 0;
    width: 75px;
    flex-shrink: 0;
    cursor: pointer;
}

.field-is-booked {
    background-color: rgb(67, 104, 67);
}

.field-is-booked-new {
    border: none;
    background-color: #f9dc5c;
}

.field-is-booked-confirmed {
    border: none;
    background-color: rgb(10, 214, 55);
}

.field-is-booked-checkedin {
    border: none;
    background-color: rgb(71, 10, 214);
}

.field-is-booked-checkedout {
    border: none;
    background-color: rgb(214, 10, 146);
}

.caledar-tooltip {
    height: 100%;
    padding: 15px 0;
}
// END CALENDAR


// TICKETS
.tickets-table {
    cursor: pointer;
}

.create-ticket-column {
    display: flex;
    width: 100%;

    &__item-left {
        width: 100%;
        margin-right: 10px;

        @media only screen and (max-width: 800px) {
            margin-right: 0;
        }
    }

    &__item-right {
        width: 100%;
        margin-left: 10px;

        @media only screen and (max-width: 800px) {
            margin-left: 0;
        }
    }

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }
}
// END TICKETS

// UPDATE TICKET
.update-ticket {

    &__tags {
        margin: 0 0 20px 0;
    }

    &__time-worked {
        margin: 0 0 20px 0;
    }

    &__time-worked-item {
        display: flex;
        align-items: center;

        p {
            margin-right: 15px;
        }
    }

    &__rangepicker {
        align-self: flex-end;
        margin-right: 15px;
    }
}

.ticket-update {
    margin: 20px 0;

    &__subtitle {
        font-weight: bold;
    }

    &__info {
        display: flex;
        background-color: rgb(214, 214, 214);
        padding: 20px;
        margin-bottom: 30px;
    }

    &__info-item {
        margin-right: 40px;
    }

    &__descriptions {
        padding: 10px;
    }
}

.time-entries {
    margin: 15px 0;
}

// END UPDATE TICKET

